
body{
    margin: 130px;
    background-image: url(img/fundo.jpg);
}  

input {
    border-radius: 20px;
    padding: 10px;
    border-style: solid;
}

nav {
    text-align: center;
}

#lua {
    text-align: center;
}

.texto{
    background-color: darkorange;   
    border-radius: 5px;
    padding: 5px;
}
.parag {
    padding: 5px;
    background-color: #FFFFFF;
    color: #000099;
    border-radius: 5px;
}